<div class="localizacao_esquerda">
  <div class="dados">
    <p>
      Rua Isabel Schmidt, 349 - São Paulo - SP, 04743-030
    </p>
  </div>
</div>

<div class="localizacao_direita">
  <%= image_tag("map.gif") %>
</div>